/* Default css styles */
/* :root{ */
    /*colours*/
    /* --primary-100:#d6ebe7;
    --primary-200:#add6d0;
    --primary-300:#85c2b8;
    --primary-400:#5cada1;
   --primary-500: #339989;
   --primary-600: #297a6e;
   --primary-700:#1f5c52;
   --primary-800:#143d37;
   --primary-900:#0a1f1b;
  */
  /*grey*/

  /* --grey-50:#F9FAFB;
  --grey-100:#F3F4F6   ;
  --grey-200: #E5E7EB  ;
  --grey-300:#D1D5DB   ;
  --grey-400: #9CA3AF  ;
 --grey-500: #6B7280   ;
 --grey-600: #4B5563   ;
 --grey-700: #374151  ;
 --grey-800: #1F2937   ;
 --grey-900: #111827  ;
  
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132; */


  /*fonts*/

/* --smalltext: 0.7em; */

/*the rest*/
/* --backgroundColor: var(--grey-300);
--textColor: var(--grey-900);
--borderRadius: 0.25rem;
--letterSpacing: 1px;
--transition: 0.3s ease-in-out all;
--max-width: 1120px;
--fixed-width: 600px; */

/* box shadow*/
/* --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--shadow-2:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
--shadow-3:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
--shadow-4:0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
} */
/*
=======
Global Styles
=======
*/
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--grey-100);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 1.25rem;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  display: block;
} */


/* .btn{
  cursor: pointer;
  color: var(--white);
  background: var(--black);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover{
  background: var(--grey-700);
  box-shadow: var(--shadow-3);
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
} */

/* Loading */
/*spinner*/ 

/* @keyframes spinner{
  to{
      transform: rotate(360deg);
  }
}

.loading{
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
margin: 0 auto;
} */

/* Search Box */
/* .search-form-container { */
  /* width: 90vw;
  max-width: var(--max-width); */
  /* width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem; */
/* } */
/* @media screen and (max-width: 800px) {
  .search-form-container {
  
   
   
  }
} */
/* .form-input {
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: var(--white);
  padding: 1rem;
  font-size: 1rem;
  border-radius: var(--borderRadius);
  color: var(--grey-600);
  letter-spacing: var(--letterSpacing);
  margin-top: 1rem;
} */
/* .error {
  color: var(--red-dark);
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: var(--letterSpacing);
} */

/* starship list */
/* .starship-list-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;
 
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;

}
@media screen and (max-width: 546px) {
  
  .starship-list-container{
    justify-content: center;
   
  }
  .form-input{
    margin-left: -12px;
  }
 

} */
/* @media screen and (max-width: 576px) {
  .starship-list-container {
    width:90%
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
} */
/* @media screen and (max-width: 576px) {
  .starship-list-container {
    width:90%;
    /* row-gap: 0.75rem; */
    /* column-gap: 0.3rem;
  
   
  }
} */ 

/* .load-btn-container{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .load-btn{
  padding: 1.25rem 5rem;
  
    margin-bottom: 2rem;
  } */
  
/* .starship-card{
  position: relative;
  overflow: hidden;
}

.starship-img{
width: 100%;
height: 300px;
display: block;
object-fit: cover;
}

.starship-footer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 0.5rem 1rem;
background: var(--grey-300);
opacity: 0.8 ;
} */



/* Header */
/* .navbar {
  background: var(--black);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  
} */

/* single starship */
/* .single-starship {
  width: 90vw;
  max-width: var(--max-width);
  margin: 4rem auto;
  display: grid;
  gap: 2rem;
}
.single-starship img {
  width: 100%;
  display: block;
}
.single-starship p {
  max-width: 35em;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}

@media screen and (min-width: 992px) {
  .single-starship {
    grid-template-columns: 1fr 2fr;
  }
} */